.transition {
  background-color: rgb(73, 73, 73);
}
.transition-box {
  background-color: rgb(29, 29, 29);
  height: 1050px;
  display: flex;
  align-items: flex-end;
  margin: 8%;
}
.transition-img {
  height: auto;
  width: 45%;
  aspect-ratio: 1/1;
}
